.square1 {
  color: pink;
  margin: 50%;
}
.square2 {
  color: palevioletred;
  margin: 50%;
}
.square3 {
<<<<<<< Updated upstream
  color: green;
  margin: 50%;
}
=======
    color: green;
}

.square1 {
    margin-left: 50%;
}
>>>>>>> Stashed changes
